# Hosting Jupyter Notebooks on GitHub Pages
# 
# Author:  Anshul Kharbanda
# Created: 10 - 12 - 2020
callystio ~= 1.0

# Jupyter notebook environment
notebook ~= 6.1
ipywidgets ~= 7.5
numpy ~= 1.19
matplotlib ~= 3.3
seaborn ~= 0.11
scipy ~= 1.5
scikit-image ~= 0.18.1
imagecodecs ~= 2021.1.28
pandas ~= 1.1
opencv-python ~= 4.5

# Other stuff
tones ~= 1.2