<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andy's Notebook</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

{% include "navbar.html" %}

<main class="an-main">
    <div class="an-readme">
        {{ readme | safe }}
    </div>

    <div class="an-notebook-index">
        <h2 class="an-notebook-index-title">Notebooks</h2>
        <ul class='an-notebook-links'>
        {% for link, name in notebooks %}
            <li class="an-notebook-link">
                <a href="{{ link }}">{{ name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</main>

{% include "footer.html" %}

</body>
</html>