{% extends "lab/index.html.j2" %}

{% block html_head_css %}
<style>
    body {
        margin: 0;
    }
    .an-nav {
        margin: 0;
        padding: 12pt;
        display: flex; /* Stright flexin' on 'em' */
        background-color: #0077ff;
        color: white;
    }
    .an-nav-links {
        margin: 0pt;
        padding: 0pt;
        display: block;
    }
    .an-nav-link {
        margin: 10px;
        display: inline-block;
    }
    .an-nav-link a:before {
        content: '>'
    }
    .CodeMirror {
        overflow-x: auto;
    }

    @media screen and (max-width: 500px) {
        /* We don't got the space to flex on mobile */
        .jp-Cell-inputWrapper,
        .jp-Cell-outputWrapper,
        .jp-InputArea,
        .jp-OutputArea,
        .jp-OutputArea-child {
            display: block;
        }
        .jp-InputPrompt {
            text-align: left;
        }
    }
</style>
{% endblock html_head_css %}

{% block body_header %}
<body>
<nav class="an-nav">
    <ul class="an-nav-links">
        <li class='an-nav-link'>
            <a href="http://andydevs.github.io/andys-notebook/">Andy's Notebook</a>
        </li>
        <li class='an-nav-link'>
            <a href="http://andydevs.github.io">Main Site</a>
        </li>
    </ul>
</nav>
<div class="jp-Notebook">
{% endblock body_header %}

{% block body_footer %}
</div>
{{ super() }}
{% endblock body_footer %}