{% extends "lab/index.html.j2" %}

{% block html_head_css %}
<link rel="stylesheet" href="main.css">
{% endblock html_head_css %}

{% block body_header %}
<body>
<nav class="an-nav">
    <ul class="an-nav-links">
        <li class='an-nav-link'>
            <a href="http://andydevs.github.io/andys-notebook/">Andy's Notebook</a>
        </li>
        <li class='an-nav-link'>
            <a href="http://andydevs.github.io">Main Site</a>
        </li>
    </ul>
</nav>
<div class="jp-Notebook">
{% endblock body_header %}

{% block body_footer %}
</div>
{{ super() }}
{% endblock body_footer %}