body {
    margin: 0pt;
    font-family: -apple-system, 
        BlinkMacSystemFont, 
        'Segoe UI', Helvetica, 
        Arial, sans-serif, 
        'Apple Color Emoji', 
        'Segoe UI Emoji', 
        'Segoe UI Symbol';
}
a {
    text-decoration: none;
    color: #0077ff;
}
a:before {
    content: '>';
}
.an-main {
    margin: 0pt 16pt;
}
.an-notebook-index-title {
    margin: 8pt 0pt;
}
.an-notebook-links {
    margin: 0pt;
    padding: 0pt;
}
.an-notebook-link {
    list-style-type: none;
    margin: 4pt 0pt;
}
.an-nav {
    margin: 0;
    padding: 12pt;
    display: flex; /* Stright flexin' on 'em' */
    background-color: #0077ff;
    color: white;
}
.an-nav-links {
    margin: 0pt;
    padding: 0pt;
    display: block;
}
.an-nav-link {
    margin: 10px;
    display: inline-block;
}
.an-nav-link a {
    color: inherit;
}

.CodeMirror {
    overflow-x: auto;
}

@media screen and (max-width: 500px) {
    /* We don't got the space to flex on mobile */
    .jp-Cell-inputWrapper,
    .jp-Cell-outputWrapper,
    .jp-InputArea,
    .jp-OutputArea,
    .jp-OutputArea-child {
        display: block;
    }
    .jp-InputPrompt,
    .jp-OutputPrompt {
        text-align: left;
    }
    .jp-RenderedHTMLCommon {
        padding: 0 var(--jp-code-padding);
    }
    .animation {
        width: 100%;
    }
}